.form{
  background-color: #CC0C0C;
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px rgba(92, 81, 81, 0.356);
}

.title{
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
}